

#A {
  display: flex;
  align-items: center;
  justify-content: center;
}

#B {
  display: flex;
  align-items: center;
  justify-content: center;
}

#C {
  display: flex;
  align-items: center;
  justify-content: center;
}

#E {
  display: flex;
  align-items: center;
  justify-content: center;
}

#F {
  display: flex;
  align-items: center;
  justify-content: center;
}

#G {
  display: flex;
  align-items: center;
  justify-content: center;
}

#H {
  display: flex;
  align-items: center;
  justify-content: center;
}

#I {
  display: flex;
  align-items: center;
  justify-content: center;
}