#A {
  background-color: #ff9999;
}

#B {
  background-color: #ffb399;
}

#C {
  background-color: #ffcc99;
}

#D {
  background-color: #ffe699;
}

#E {
  background-color: #ffff99;
}

#F {
  background-color: #e6ff99;
}

#G {
  background-color: #ccff99;
}

#H {
  background-color: #b3ff99;
}

#I {
  background-color: #99ff99;
}