
header {
  background-color: rgb(62, 62, 62);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 70px;
}

ul {
  display: flex;
}

li {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

section {
  width: 960px;
  margin: 30px auto;
}

section:nth-child(2) :first-child {
  margin-right: 26px;
}

section:nth-child(2) img:last-child {
  margin-left: 26px;
}

section:nth-child(3) {
  display: flex;
  height: 400px;
}

section:nth-child(3) article {
  margin-left: 30px;
  height: 480px;
}

section:nth-child(3) article h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  margin-bottom: 5px;
}

section:nth-child(3) article p {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.4em;
  overflow: auto;
  height: 320px;
  margin-bottom: 11px;
}

button {
  background-color: black;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-size: 1.1em;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
  transition: 350ms ease-in-out;
}

button:hover {
  background-color: blue;
  
}

footer {
  background-color: rgb(62, 62, 62);
  height: 200px;
}